body { padding-left: 19.58% }
html, body
{
	background-color: #636E79;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	height: 100vh;
	margin: 0
}
.full-height { height: 100vh }
.flex-center
{
  align-items: center;
  display: flex;
	justify-content: center;
}
.position-ref {	position: relative }
.top-right
{
  position: absolute;
	right: 10px;
	top: 18px;
}
.content { text-align: center }
.title { font-size: 84px }
.links > a
{
				color: #636b6f;
				padding: 0 25px;
				font-size: 12px;
				font-weight: 600;
				letter-spacing: .1rem;
				text-decoration: none;
				text-transform: uppercase;
}
.m-b-md {	margin-bottom: 30px }

/**
 * NAVBAR
 **/
.navbar { height: 45px }
.navbar-left { width: 20%; }
.fixed-left { height: 100% }

nav > a.navbar-brand-left
{
	position: absolute;
	left: 82%;
  /* margin: 0 0 0 205px;*-245%;* */
}
nav > a.navbar-brand-left > img
{
	width: 110px;
}

nav > div.navbar-collapse-left
{
	position: absolute;
  margin-left: -5px; /**-88px;**/
  align-items: unset !important
}
.nav-left { flex-direction: column !important }
.nav-link
{
	padding: 0 !important;
	margin: .5rem 1rem;
}

.collapse-right
{
  display: block;
  margin-left: auto;
  margin-right: 0
}

li.active > a
{
	cursor: default;
}

.navbar-toggler
{
	position: absolute;
  top: 20%;
  left: 15%;
}

@media screen and (max-width: 1300px)
{
	.navbar-brand-left
	{
    left: 78%;
	}
	nav > a.navbar-brand-left > img
	{
		width: 95px;
	}
}
@media screen and (max-width: 968px)
{
	.navbar-brand-left
	{
		bottom: 3%;
    left: 24% !important;
	}
	nav > a.navbar-brand-left > img
	{
		width: 90px;
	}
}
@media screen and (max-width: 868px)
{
	.navbar-brand-left
	{
		bottom: 2.8%;
    left: 24% !important;
	}
	nav > a.navbar-brand-left > img
	{
		width: 77px;
	}
	.navbar-toggler
	{
		top: 17%;
		left: 17%;
	}
}
@media screen and (max-width: 768px)
{
	.navbar-brand-left
	{
		bottom: 2.6%;
    left: 24% !important;
	}
	nav > a.navbar-brand-left > img
	{
		width: 67.5px;
	}
	.navbar-toggler
	{
		top: 13%;
		left: 20%;
	}
}

/**
 * CAROUSEL
 **/
div.carousel-inner > div.carousel-item > img
{
  margin-left: -12%;
  width: 121%;
}
.carousel-control-prev,
.carousel-control-next
{
	height: 25%;
  top: 75%;
}

/**
 * CANVAS
 **/
#canvas-container
{
	border-style: solid;
	border-color: #343A40;
	width: 600px;
	height: 600px;
}
.konvajs-content > canvas
{
	width: 594px !important;
	height: 594px !important;
}
#canvas-links
{
	width: 150px;
	margin: 0 0 0 50px
}
#canvas-links > div > a
{
	color: #DEDEDE;
	text-decoration: none
}
#canvas-links > div > a:hover
{
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
.cl-row-1, .cl-row-2, .cl-row-3 { padding: 10px 0 }
